.wrapper {
	width: 600px;
	background: #eee;
	margin:0 auto 0 auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: auto;
    text-align: center;
}

}

.heading {
	height: 100px;
	background: purple;
	padding: 20px;
	text-align: center;
	font-family: impact;
	font-size: 25pt;
	color: black;
	text-shadow: 0.1em 0.1.em white;

	
}

.Navigation {
	height: 50px;
	background-color: gray; 
	padding: 5px;
	text-align: center;
 }

a { font-size: 20pt;
    font-family: impact;
    color: black;

    }


.Content {
	min-height: 400px;
	background-color: black;
	width: 400px;
	float:left;
}

.Favorites {
	width: 200px;
	float: right;
	background: white;
	min-height: 400px;
}

img {
	width: 286px;
}

h1 {text-align: center;}

.Footer {
	height: 40px;
	background: black;

}

.Links{
	margin: 0 auto;
	text-align: center;	
	font-family: sans-serif;
}
